/*Highest Priority*/
#loading {
    position: fixed;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,1);
}

#loading p {
    position: block;
    background-image: linear-gradient(rgba(0,167,90,1), rgba(2,133,205,1));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5vw;
    font-weight: 700;
    color: white;
}

#loading .loading-long-message {
    position: block;
    font-size: 3.5vw;
}

/* Menu at top of screen */
#menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 16vh;
    background-image: linear-gradient(rgba(255,255,255,0) 80%, rgba(255,255,255,0));
    z-index: 100;
    opacity: 0;
}

/*Menu Buttons*/
#menu button {
    font: 2vw 'Poppins', sans-serif;
    font-weight: 700;
    width: 10vw;
    height: 5vh;
    -webkit-text-fill-color: transparent;
    border: none;
    background-color: transparent;
}

#menu-buttons {
    position: absolute;
    left: auto;
    right: 5vw;
    top: 6vh;
    background-image: linear-gradient(rgba(0,167,90,1) 80%, rgba(2,133,205,1));
    background-clip: text;
}

#menu #about-button {
    border-left: black 2px solid;
    border-right: black 2px solid;
    border-image: linear-gradient(rgba(0,167,90,1) 80%, rgba(2,133,205,1));
    border-image-slice: 1;
}

#menu #watch-button {
    width: 12vw;
}

#menu img {
    position: relative;
    left: 5vw;
    top: 2.5vh;
    height: 10vh;
    object-fit: contain;
}

#banner {
    top: -5vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
    border-radius: 0%;
}

#banner img {
    width: 100vw;
    object-fit: contain;
    position: absolute;
    top: 0;
    background-color: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#banner #top-image {
    z-index: 2;
}

#banner #start_adventure_text {
    z-index: 1;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

.home-banner h1 {
    font-weight: 800;
    font-size: 5rem;
    position: relative;
    width: 100vw;
    text-align: center;
    padding-top: 70vh;
}

#start_adventure_text {
    width: 100vw;
}

.textbox1 {
    width: 100vw;
    height: 100vw;
    top: 200vh;
}

/* Section One: The Series */
#section1 {
    position: absolute;
    width: 100vw;
    max-height: 100vh;
    top: 110vh;
}

#section1 .textbox1 {
    font: 'Poppins', sans-serif;
}

#section1 .textbox1 h2 {
    font-size: 4em;
    color: rgba(0,0,0,0);
    background-image: linear-gradient(rgba(0,167,90,1), rgba(2,133,205,1));
    background-clip: text;
}

#section1 .textbox1 p {
    font-size: 2.5em;
    font-weight: 600;
    color: black;
}

#section1 .frierenPopout img {
    width: 30%;
    object-fit: contain;
}
