/* Menu at top of screen */
#menu {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 10vh;
    background-color: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0));
    z-index: 100;
}

#menu img {
    position: relative;
    left: 5vw;
    height: 10vh;
    object-fit: contain;
}

#banner {
    top: -5vh;
    height: 100vh;
    width: 100vw;
    position: absolute;
    border-radius: 0%;
}

#banner img {
    width: 100vw;
    object-fit: contain;
    position: absolute;
    top: 0;
    background-color: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
}

#banner #top-image {
    z-index: 2;
}

#banner #start_adventure_text {
    z-index: 1;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

.home-banner h1 {
    font-weight: 800;
    font-size: 5rem;
    position: relative;
    width: 100vw;
    text-align: center;
    padding-top: 70vh;
}

#start_adventure_text {
    width: 100vw;
}