#banner {
    height: 100vh;
    width: 100vw;
    background-color: rgb(0, 0, 0);
    background-image: url("img/background.jpg");
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: top;
    border-radius: 0%;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

.home-banner h1 {
    font-weight: 800;
    font-size: 5rem;
    position: relative;
    width: 100vw;
    text-align: center;
    padding-top: 70vh;
}

#start_adventure_text {
    width: 100vw;
}